body {
  
  font-family: Script MT Bold;
}

h1{
    text-align: center;
	color: maroon;
	font-size: 50px;

}
h2 {
	text-align: center;
	color:maroon;
	font-size: 30px;
	font: Script MT Bold;
}

h3 {
	text-align: center;
	color:#e91e63;
	font-size: 15px;
	
}

h4 {
	text-align: center;
	color:#009688;
	font-size: 15px;
	
}

h5 {

	 padding: 30px;
	text-align: center;
	color:#ff1a40;
	
	font-size: 40px;
	
	 
}

p {
	padding: 30px;
	text-align: center;
	color:maroon;
	
	font-size: 40px;
	
}


button{
	padding: 15px;
	margin: 15px;
	font-color: white;
	font-size: 50px;
	border:10px;
}
img{
	width: 80%;
    height: auto;
}
   	
